<div class ="col-10 offset-1 about">
  <h1>About ShareYourDay</h1>

    <p>
      ShareYourDay was built as a practice Ruby on Rails web-app for Quiz#2 submittal
    </p>
    <br />

    <p>
      If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
    </p>

  <br class="clear" />


</div>

<br class="clear" />
<br />
<br />
<br />
<br />